{% extends 'base.html' %}
{% load static %}
{% load main_tags %}
{% block content %}
<main class="main">
    <section class="section materials-subject container">
    <div class="section__header">
        <h1 class="section__header-title flex-center">{{ material.name }}</h1>
        <div class="section__header-buttons-cont">
        <a href="{% url 'material_update' material.pk %}" class="section__header-button button button--blue">
            Редактировать
        </a>
        <a href="{% url 'material_list' %}" class="section__header-button button button--orange">
            Назад
        </a>
        </div>
    </div>
    <div class="subject-card">
        <div class="subject-card__pictures-cont flex-center">
            
        <img
            class="subject-card__image"
            src="{% if material.image %}{{ material.image.url }}{% else %}{% static 'images/no-image.jpg' %}{% endif %}"
            height="328"
            loading="lazy"
            alt="{{ material.name }}"
        />

        <a class="subject-card__barcode-link" href="{% url 'barcode_display_page' content_type_id=material|get_content_type_id object_id=material.pk %}">
            <img
            class="subject-card__barcode-image"
            src="{% url 'generate_barcode_image' content_type_id=material|get_content_type_id object_id=material.pk %}"
            height="228"
            loading="lazy"
            alt="{{ material.barcode }}"
            />
        </a>

        </div>
        <div class="table-card-second">
        <table class="table-second">
            <tr>
            <th>Артикул</th>
            <td>{{ material.article }}</td>
            </tr>
            <tr>
            <th>Категории</th>
            <td>{{ material.category.name }}</td>
            </tr>
            <tr>
            <th>Штрихкод</th>
            <td>
                <a href="{% url 'barcode_display_page' content_type_id=material.get_content_type_id object_id=material.pk %}"
                 class="table__color-text">{{ material.barcode }}</a>
            </td>
            </tr>
            {% if perms.warehouse1.can_view_material_quantity %}
            <tr>
            <th>Количество</th>
            <td>2{{ material.quantity }} {{ material.unit.short_name }}</td>
            </tr>
            {% endif %}
            <tr>
            <th>Min количество</th>
            <td>{{ material.min_quantity }} {{ material.unit.short_name }}</td>
            </tr>
            {% if material.description %}
            <tr>
                <th>Описание</th>
                <td>{{ material.description }}</td>
            </tr>
            {% endif %}
        </table>
        </div>
    </div>
    {% if perms.warehouse1.can_view_material_quantity %}
    <div class="tables-cont tables-cont--second-type">
        {% if operations %}
        <div class="cont__header cont__header--with-border-top">
        <h2 class="cont__title">Последние операции</h2>
        </div>
        <ul class="cont__list">
            {% for operation in operations %}
        <li class="cont__item">
            <article class="table-card-first">
            <table class="table-first">
                <tr class="table__row">
                <th>Дата</th>
                <td>{{ operation.date|date:"d.m.Y H:i" }}</td>
                </tr>
                <tr class="table__row">
                <th>Операция</th>
                <td>{{ operation.get_operation_type_display }}{% if operation.outgoing_category %} {{ operation.outgoing_category }}{% else %} {% endif %}</td>
                </tr>
                <tr class="table__row">
                <th>Количество</th>
                <td>{{ operation.quantity }} {{ material.unit.short_name }}</td>
                </tr>
                <tr class="table__row">
                <th>Пользователь</th>
                <td>{{ operation.user.username }}</td>
                </tr>
                <tr class="table__row">
                <th>Коментарий</th>
                <td>{{ operation.comment|default:"-" }}</td>
                </tr>
            </table>
            </article>
        </li>
            {% endfor %}
        </ul>
        {% else %}
        <div class="cont__header cont__header--with-border-top">
            <h2 class="cont__title">Движения товара еще не было</h2>
            </div>
        {% endif %}
    </div>
    {% endif %}
    </section>
</main>
{% endblock %}