{% extends "base.html" %}
{% load main_tags %}
{% block content %}
<div class="d-flex justify-content-between align-items-center mb-4">
    <h2>Каталог продукции</h2>
    <a href="{% url 'product_create' %}" class="btn btn-primary">Добавить продукт</a>
    <a href="{% url 'product_incoming' %}" class="btn btn-success">Принять товар</a>
</div>
<form method="get" class="mb-4" id="filter-form">
    <div class="row">
        <div class="col-md-4">
            <select name="category" class="form-control">
                <option value="">Все категории</option>
                {% for category in categories %}
                <option value="{{ category.id }}" {% if request.GET.category == category.id|stringformat:"s" %}selected{% endif %}>
                    {{ category.name }}
                </option>
                {% endfor %}
            </select>
        </div>
        <!-- <div class="col-md-6">
            <div class="input-group">
                <input type="text" name="search" class="form-control" 
                       placeholder="Поиск по названию, артикулу или штрихкоду" 
                       value="{{ request.GET.search }}"
                       id="id_search_input">  <button type="button" class="btn btn-outline-secondary" id="scan-btn">📸 Сканировать</button>
            </div>
            </div> -->
        <div class="col-md-2">
            <button type="submit" class="btn btn-primary">Фильтровать</button>
            <a href="?" class="btn btn-secondary">Сбросить</a>
        </div>
    </div>
</form>


<table class="table table-striped">
    <thead>
        <tr>
            <th>Название</th>
            <th>Артикул</th>
            <th>Категория</th>
            <th>Размер</th>
            <th>Цвет</th>
            <th>Вес</th>
{% if perms.can_view_product_quantity %}
            <th>На складе</th>
            <th>Доступно</th>
{% endif %}
            <th>Штрихкод</th>
            <th>Цена</th>
        </tr>
    </thead>
    <tbody>
        {% for product in products %}
        <tr>
            <td><a href="{% url 'product_detail' product.pk %}">{{ product.name }}</a></td>
            <td>{{ product.sku }}</td>
            <td>{{ product.category }}</td>
            <td>{{ product.size|default:"-" }}</td>
            <td>{{ product.color|default:"-" }}</td>
            <td>{{ product.weight|default:"-" }}</td>
{% if perms.can_view_product_quantity %}
            <td>{{ product.total_quantity }}</td>
            <td>{{ product.available_quantity }}</td>
{% endif %}
            <td><a href="{% url 'generate_barcode' content_type_id=product|get_content_type_id object_id=product.pk %}" alt="Штрихкод" class="img-fluid mb-2">{{ product.barcode }}</a></td>
            <td>{{ product.price }}</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="8" class="text-center">Продукты не найдены</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% if is_paginated %}
<nav aria-label="Page navigation">
    <ul class="pagination">
        {% if page_obj.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Предыдущая</a>
        </li>
        {% endif %}
        
        {% for num in page_obj.paginator.page_range %}
        <li class="page-item {% if page_obj.number == num %}active{% endif %}">
            <a class="page-link" href="?page={{ num }}">{{ num }}</a>
        </li>
        {% endfor %}
        
        {% if page_obj.has_next %}
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.next_page_number }}">Следующая</a>
        </li>
        {% endif %}
    </ul>
</nav>
{% endif %}
{% endblock %}