{% extends "base.html" %}
{% block content %}
<main class="main">
    <section class="section creating-shipment container">
    <div class="section__header">
        {% if object %}
        <h1 class="section__header-title flex-center">
        Редактирование отгрузки
        <span class="content-size">
            <svg
            width="30"
            height="30"
            viewBox="0 0 30 30"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            >
            <g clip-path="url(#clip0_654_3917)">
                <path
                d="M28.5 19.5H6V1.5C6 0.6 5.4 0 4.5 0H1.5C0.6 0 0 0.6 0 1.5C0 2.4 0.6 3 1.5 3H3V21C3 21.9 3.6 22.5 4.5 22.5H28.5C29.4 22.5 30 21.9 30 21C30 20.1 29.4 19.5 28.5 19.5Z"
                fill="#00A6F2"
                />
                <path
                d="M9.75 30C10.9926 30 12 28.9926 12 27.75C12 26.5074 10.9926 25.5 9.75 25.5C8.50736 25.5 7.5 26.5074 7.5 27.75C7.5 28.9926 8.50736 30 9.75 30Z"
                fill="#00A6F2"
                />
                <path
                d="M23.25 30C24.4926 30 25.5 28.9926 25.5 27.75C25.5 26.5074 24.4926 25.5 23.25 25.5C22.0074 25.5 21 26.5074 21 27.75C21 28.9926 22.0074 30 23.25 30Z"
                fill="#00A6F2"
                />
                <path
                d="M9.75 16.5H27.75C28.2 16.5 28.5 16.2 28.5 15.75V2.25C28.5 1.8 28.2 1.5 27.75 1.5H9.75C9.3 1.5 9 1.8 9 2.25V15.75C9 16.2 9.3 16.5 9.75 16.5ZM22.5 4.5L25.5 7.5H24V12H21V7.5H19.5L22.5 4.5ZM15 4.5L18 7.5H16.5V12H13.5V7.5H12L15 4.5Z"
                fill="#00A6F2"
                />
            </g>
            <defs>
                <clipPath id="clip0_654_3917">
                <rect width="30" height="30" fill="white" />
                </clipPath>
            </defs>
            </svg>
        </span>
        </h1>
        {% else %}
        <h1 class="section__header-title flex-center">
        Создание отгрузки
        <span class="content-size">
            <svg
            width="30"
            height="30"
            viewBox="0 0 30 30"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            >
            <g clip-path="url(#clip0_654_3917)">
                <path
                d="M28.5 19.5H6V1.5C6 0.6 5.4 0 4.5 0H1.5C0.6 0 0 0.6 0 1.5C0 2.4 0.6 3 1.5 3H3V21C3 21.9 3.6 22.5 4.5 22.5H28.5C29.4 22.5 30 21.9 30 21C30 20.1 29.4 19.5 28.5 19.5Z"
                fill="#00A6F2"
                />
                <path
                d="M9.75 30C10.9926 30 12 28.9926 12 27.75C12 26.5074 10.9926 25.5 9.75 25.5C8.50736 25.5 7.5 26.5074 7.5 27.75C7.5 28.9926 8.50736 30 9.75 30Z"
                fill="#00A6F2"
                />
                <path
                d="M23.25 30C24.4926 30 25.5 28.9926 25.5 27.75C25.5 26.5074 24.4926 25.5 23.25 25.5C22.0074 25.5 21 26.5074 21 27.75C21 28.9926 22.0074 30 23.25 30Z"
                fill="#00A6F2"
                />
                <path
                d="M9.75 16.5H27.75C28.2 16.5 28.5 16.2 28.5 15.75V2.25C28.5 1.8 28.2 1.5 27.75 1.5H9.75C9.3 1.5 9 1.8 9 2.25V15.75C9 16.2 9.3 16.5 9.75 16.5ZM22.5 4.5L25.5 7.5H24V12H21V7.5H19.5L22.5 4.5ZM15 4.5L18 7.5H16.5V12H13.5V7.5H12L15 4.5Z"
                fill="#00A6F2"
                />
            </g>
            <defs>
                <clipPath id="clip0_654_3917">
                <rect width="30" height="30" fill="white" />
                </clipPath>
            </defs>
            </svg>
        </span>
        </h1>
        {% endif %}
    </div>
    <div class="narrow-wrapper">
        <div class="form-wrapper">
        <div class="form-cont">
            <form class="form-cont__form" method="post">
                {% csrf_token %}
                <div class="form-cont__form-paragraphs-cont form-cont__form-paragraphs-cont--alt form-cont__form-paragraphs-cont--without-first-pad-top">
                    <div class="form-cont__form-paragraph">
                        <label for="{{ form.sender.id_for_label }}">ФОП (отправитель):</label>
                        <div class="custom-dropdown-wrapper" data-dropdown>
                            <button
                                type="button"
                                class="custom-select custom-dropdown-trigger"
                                data-dropdown-trigger
                                aria-haspopup="listbox"
                                aria-expanded="false"
                            >
                                <span class="selected-product" data-dropdown-value>
                                    {% if form.sender.value %}
                                        {% for sender in form.sender.field.queryset %}
                                            {% if sender.pk|stringformat:"s" == form.sender.value|stringformat:"s" %}
                                                {{ sender.name }}
                                            {% endif %}
                                        {% endfor %}
                                    {% else %}
                                        Выберите отправителя
                                    {% endif %}
                                </span>
                            </button>
                            <ul class="select-list" data-dropdown-list role="listbox" tabindex="-1">
                                {% for sender in form.sender.field.queryset %}
                                    <li
                                        class="select-item"
                                        role="option"
                                        data-value="{{ sender.pk }}"
                                    >
                                        {{ sender.name }}
                                    </li>
                                {% endfor %}
                            </ul>
                            <input
                                type="hidden"
                                id="{{ form.sender.id_for_label }}"
                                name="{{ form.sender.html_name }}"
                                value="{{ form.sender.value|default:'' }}"
                                class="dropdown-hidden-input"
                                required
                            />
                        </div>
                        {% if form.sender.errors %}<div class="error">{{ form.sender.errors }}</div>{% endif %}
                    </div>
            
                    {# Поле Пункт назначения #}
                    <div class="form-cont__form-paragraph">
                        <label for="{{ form.destination.id_for_label }}">Пункт назначения :</label>
                        <input
                            type="text"
                            id="{{ form.destination.id_for_label }}"
                            name="{{ form.destination.html_name }}"
                            class="form-input"
                            placeholder="{{ form.destination.field.widget.attrs.placeholder }}"
                            value="{{ form.destination.value|default:'' }}"
                        />
                        {% if form.destination.errors %}<div class="error">{{ form.destination.errors }}</div>{% endif %}
                    </div>
            
                    {# Поле Получатель #}
                    <div class="form-cont__form-paragraph">
                        <label for="{{ form.recipient.id_for_label }}">Получатель :</label>
                        <input
                            type="text"
                            id="{{ form.recipient.id_for_label }}"
                            name="{{ form.recipient.html_name }}"
                            class="form-input"
                            placeholder="{{ form.recipient.field.widget.attrs.placeholder }}"
                            value="{{ form.recipient.value|default:'' }}"
                        />
                        {% if form.recipient.errors %}<div class="error">{{ form.recipient.errors }}</div>{% endif %}
                    </div>
                </div>
            
                <div class="form-cont__form-buttons">
                    <button class="button button--blue" type="submit">{% if object %}Сохранить{% else %}Создать{% endif %}</button>
                    <a href="{% url 'user_list' %}" class="button button--orange">Отмена</a>
                </div>
            </form>
        </div>
        </div>
    </div>
    </section>
</main>
{% endblock %}