{% extends "base.html" %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-8">
        <h2>{% if object %}Редактирование{% else %}Создание{% endif %} отгрузки</h2>
        <div class="card">
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    
                    {{ form.as_p }}
                    
                    <div class="d-flex gap-2 mt-3">
                        <button type="submit" class="btn btn-success">
                            {% if object %}Сохранить{% else %}Создать и добавить товары{% endif %}
                        </button>
                        <a href="{% url 'shipment_list' %}" class="btn btn-secondary">Отмена</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}