{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col-md-8">
        <h2>Производственный заказ №{{ workorder.id }}</h2>
        
        <div class="card">
            <div class="card-body">
                <table class="table">
                    <tr>
                        <th>Продукт:</th>
                        <td>{{ workorder.product.name }} ({{ workorder.product.sku }})</td>
                    </tr>
                    <tr>
                        <th>Количество:</th>
                        <td>{{ workorder.quantity_to_produce }} шт.</td>
                    </tr>
                    <tr>
                        <th>Статус:</th>
                        <td>
                            <span class="badge bg-{% if workorder.status == 'completed' %}success{% elif workorder.status == 'in_progress' %}warning{% else %}secondary{% endif %}">
                                {{ workorder.get_status_display }}
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <th>Создан:</th>
                        <td>{{ workorder.created_at|date:"d.m.Y H:i" }}</td>
                    </tr>
                    {% if workorder.completed_at %}
                    <tr>
                        <th>Завершен:</th>
                        <td>{{ workorder.completed_at|date:"d.m.Y H:i" }}</td>
                    </tr>
                    {% endif %}
                </table>
                
                <div class="mt-3">
                    {% if workorder.status != 'completed' %}
                    <a href="{% url 'workorder_edit' workorder.pk %}" class="btn btn-warning">Редактировать</a>
                    <a href="{% url 'workorder_complete' workorder.pk %}" class="btn btn-success">Завершить заказ</a>
                    {% endif %}
                    <a href="{% url 'workorder_list' %}" class="btn btn-secondary">Назад к списку</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}