{% extends "base.html" %}
{% block content %}
<div class="container mt-4">
    <h2>Входящие сообщения</h2>
    <a href="{% url 'compose' %}" class="btn btn-primary mb-3">Написать сообщение</a>
    <ul class="list-group">
        {% for message in messages %}
        <a href="{% url 'message_detail' message.pk %}" class="list-group-item list-group-item-action {% if not message.is_read %}list-group-item-primary fw-bold{% endif %}">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">От: {{ message.sender.username }}</h5>
                <small>{{ message.timestamp|date:"d.m.Y H:i" }}</small>
            </div>
            
        </a>
        {% empty %}
        <li class="list-group-item">У вас нет входящих сообщений.</li>
        {% endfor %}
    </ul>
</div>
{% endblock %}